/* Navigation */
.header-color {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: .4;
}

span.mdl-layout-title {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

a.mdl-navigation__link {
  font-family: 'Oxygen', sans-serif;
  text-decoration: none;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  opacity: 0.87;
}

/*Landing Page*/
.landing-grid {
  /* background: #833ab4;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #fcb045, #fd1d1d, #ffffff); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url('./assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-grid p {
  font-size: 25px;
  font-family: fantasy;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 12px;
}

.avatar-img {
  height: 200px;
  padding-top: 4em;
}

.banner-text {
  background-color: black;
  opacity: .7;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 40px;
  font-weight: 400;
  color: white;
  font-family: fantasy;
}

.banner-text hr {
  border-top: 4px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  font-family: fantasy;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 4em;
  padding: 8px;
}

/* about page css */
.about-grid {
  /* background-image: url('./assets/hiker.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  /* background: #27221F; */
  background: #466368;
  /* background-image: -webkit-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-image: -moz-linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background: -moz-linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
  background-blend-mode: multiply,multiply;
  /* background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#648880, #293f50); */
}

/* .about-grid .about-grid-content {
  background: #27221F;
} */

.about-grid .about-grid-content h1 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  /* margin-top: 60px; */
  margin-bottom: 24px;
  color: #424242;
}

.about-grid .about-grid-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 0;
  color: #ffffff;
}

/* .about-grid .about-images {
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 0;
}

.about-images {
  width: 80%;
  text-align: center;
} */

.banner-block {
  background-color: black;
  opacity: .8;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.banner-block .hobbies-img {
  text-align: center;
  justify-content: space-between;
  margin: 10px;
}

.hobbies-img .imgElm {
  padding: 8px;
}

/* Projects Page css */
.projects {
  background: #466368;
  background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background: -moz-linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
  background-blend-mode: multiply,multiply;
}

.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-grid {
  /* background-image: url('./assets/hiker.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  /* background: #27221F; */
  background: #466368;
  background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background: -moz-linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
  background-blend-mode: multiply,multiply;
}

.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* contact page css */
.contact-body {
  margin: auto;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background: -moz-linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
  background-blend-mode: multiply,multiply;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}